body {
  width: 100%;
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 0px;
  padding: 30px;
  align-items: center;
  width: 100%;
  font-family: "Play", sans-serif;
  background-color: #0b3d91;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
}
h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.main-nav-item {
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fc3d21;
}

ul {
  display: none;
}

h1 {
  color: #fc3d21;
}

.mobile {
  background-color: #0b3d91;
  border: none;
}

.fa-bars {
  background-color: #0b3d91;
  color: #fc3d21;
  font-size: 20px;
}
.test {
  display: flex;
  flex-direction: column;
  background-color: #0b3d91;
  font-size: 24px;
  z-index: 99;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 50px;
    align-items: baseline;
    background-color: #0b3d91;
  }
  .logo {
    display: flex;
    align-items: baseline;
  }
  a {
    text-decoration: none;
    color: #fc3d21;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }

  .button {
    border-radius: 10px;
    display: initial;
  }

  .main-nav-item {
    margin-left: 10px;
  }

  .main-nav-item:first-of-type {
    margin: 0;
  }

  #dropdown {
    display: none;
  }
  .container {
    background-color: #0b3d91;
  }
  h1 {
    color: #fc3d21;
  }
  ul {
    display: initial;
  }

  .mobile {
    display: none;
  }

  .test {
    display: none;
  }
}
