<div class="container">
  <nav class="navbar">
    <div class="header">
      <h3>
        <p>
          <a routerLink="/home" class="logo">SPACE CADET</a>
        </p>
      </h3>
      <ul class="main-nav">
        <li class="main-nav-item">
          <a routerLink="/home" class="button">HOME</a>
        </li>
        <li class="main-nav-item">
          <a routerLink="/planets" class="button">MEET THE PLANETS</a>
        </li>
        <li class="main-nav-item">
          <a routerLink="/rover" class="button">MARS ROVER</a>
        </li>
        <li class="main-nav-item">
          <a routerLink="/news" class="button">NEWS </a>
        </li>
      </ul>
      <button class="mobile" (click)="toggle()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div *ngIf="!showNav" class="test">
      <a routerLink="/home" class="button">HOME</a>
      <a routerLink="/planets" class="button">MEET THE PLANETS</a>
      <a routerLink="/rover" class="button">MARS ROVER</a>
      <a routerLink="/news" class="button">NEWS </a>
    </div>
  </nav>
</div>
