body {
  /* height: 100px; */
  position: relative;
  /* bottom: 100px; */
}

.rss {
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: 10px;
  height: 100px;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  position: absolute;
  overflow: scroll;
  animation: ticker 20s linear infinite;
  margin: 5px;
  padding: 2px;
}
.headline {
  display: flex;
  flex-direction: row;
  font-family: ‘Play’, sans-serif;
  width: 100%;
  color: white;
  font-size: 12px;
  margin: 0px;
  padding: 5px;
}

.ticker {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  /* margin: 10px; */
  display: flex;
  flex-direction: row;
}

/* @keyframes ticker {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
} */
