body {
  height: 100px;
  position: relative;
  bottom: 100px;
}

.rss {
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: 10px;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #f93d21;
}
.headline,
.url {
  color: white;
}

.ticker {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width: 100%;
  height: 80px;
  position: absolute;
  overflow: hidden;
  animation: ticker 5s linear infinite;
}

.headline,
.url {
  /* height: 100px; */
  width: 100%;
}

@keyframes ticker {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
