body {
  position: relative;
  margin: 0;
}

.rss {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #0b3d91;
  height: 50px;
  width: 235%;
  overflow: scroll;
  animation: ticker 20s linear infinite;
  margin: 0;
  padding: 20px;
}
.headline {
  display: flex;
  flex-direction: row;
  font-family: ‘Play’, sans-serif;
  width: 100%;
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 5px;
}

.ticker {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
}

@keyframes ticker {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
