section {
  background: url("/assets/solar-system.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  width: 100vw;
}
p {
  color: white;
}
