.main {
  background: url("/assets/starryBg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  margin-bottom: 0px;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 15px;
  font-size: 38px;
  margin: 15px;
}

h4 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 15px;
  font-size: 24px;
  margin: 15px;
}

.planet-container {
  width: 90%;
  display: block;
  padding: 10px;
  flex-wrap: wrap;
}

.planets {
  padding: 10px;
  padding-right: 0px;
  width: 100%;
}

.modal-content {
  height: 80%;
  width: 80%;
  background-color: rgba(111, 103, 146, 0.7);
  border-radius: 10px;
  overflow-y: scroll;
}
.modal {
  display: none;
  height: 0;
  transition: 0.3s;
}

.modal.show {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

p {
  color: white;
  padding: 5px;
  margin: 10px;
}
.name {
  font-size: 20px;
  margin-right: 10px;
  color: #fc3d21;
}

.information {
  border: 1px solid blue;
}

i {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 15px;
    font-size: 52px;
    margin: 15px;
  }
  .name {
    font-size: 20px;
    margin-right: 10px;
    color: #fc3d21;
  }
  h4 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 15px;
    font-size: 38px;
    margin: 15px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    color: white;
    font-size: 30px;
    font-family: "play";
  }

  .main {
    background: url("/assets/starryBg.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  p {
    color: white;
    padding: 5px;
    margin: 10px;
  }
  .planet-container {
    display: flex;
    justify-content: center;
  }

  .planets {
    max-width: calc(99.9% / 5);
  }
}
