section {
  background: url("/assets/solar-system.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
p {
  color: white;
  padding: 5px;
  margin: 10px;
}

img {
  height: 200px;
  width: 200px;
}
