<app-header></app-header>
<main class="main">
  <h2 class="header">MEET THE PLANETS</h2>
  <h4>CLICK THE PLANETS TO FIND OUT MORE</h4>
  <div class="planet-container">
    <!-- <div *ngFor="let planet of planets; index as i" class="planets"> -->
    <img
      *ngFor="let planet of planets; index as i"
      class="planets"
      src="{{ planet.image }}"
      alt=""
      (click)="showPlanetInfo(i)"
    />
    <!-- </div> -->
    <div class="modal" [ngClass]="{ show: showModal }">
      <div class="modal-content">
        <button (click)="hidePlanetInfo()">
          <i class="far fa-times-circle"></i>
        </button>
        <p><span class="name"> Name:</span> {{ currentPlanet?.name }}</p>
        <p>
          <span class="name">Planet Type:</span>{{ currentPlanet?.planetType }}
        </p>
        <p><span class="name">Size:</span> {{ currentPlanet?.size }}</p>
        <p><span class="name">Orbit:</span> {{ currentPlanet?.orbit }}</p>
        <p><span class="name">Surface:</span> {{ currentPlanet?.surface }}</p>
        <p>
          <span class="name">Atmosphere:</span> {{ currentPlanet?.atmosphere }}
        </p>
        <p>
          <span class="name">Livability:</span> {{ currentPlanet?.livability }}
        </p>
        <p><span class="name">Moons:</span> {{ currentPlanet?.moons }}</p>
      </div>
    </div>
  </div>
</main>
