<app-header></app-header>
<main>
  <div>
    <div *ngFor="let planet of planets; index as i">
      <img src="{{ planet.image }}" alt="" (click)="showPlanetInfo(i)" />
      <div [ngClass]="'information'">
        <p>Name: {{ planet.name }}</p>
        <p>Planet Type: {{ planet.planetType }}</p>
        <p>Size: {{ planet.size }}</p>
        <p>Orbit: {{ planet.orbit }}</p>
        <p>Surface: {{ planet.surface }}</p>
        <p>Atmosphere: {{ planet.atmosphere }}</p>
        <p>Livability: {{ planet.livability }}</p>
        <p>Moons: {{ planet.moons }}</p>
      </div>
    </div>
  </div>
</main>
