.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  border: none;
  border-bottom: 1px solid blue;
}

button {
  margin-top: 10px;
}
