.main {
  background: url("/assets/roverBg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "play";
  font-size: 28px;
  color: white;
}

.info {
  color: white;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: black;
  width: 380px;
  padding: 0;
  margin: 0;
  /* padding: 5px; */
  /* background-color: white; */
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Play";
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.7);
  margin: 0px;
  color: white;
  width: 100%;
}

select {
  padding: 5px;
  padding-right: 0px;
  border-radius: 2px;
  margin: 5px;
  font-family: "Play";
  font-size: 19px;
}
label {
  font-size: 20px;
}

input {
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
  margin-right: 0;
  font-family: "Play";
  font-size: 18px;
  padding: 5px;
}

button {
  margin: 10px;
  padding: 5px;
}

.ngIf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
image {
  height: 50%;
  width: 50%;
}

img {
  height: 70%;
  width: 75%;
}

.sol {
  color: white;
}

.nothing {
  color: white;
}

@media only screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding-bottom: 10px; */
    padding: 0px;
  }

  h1 {
    font-family: "play";
    font-size: 28px;
    color: white;
  }

  .info {
    color: white;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    box-shadow: black;
    width: 100%;
    padding: 5px;
    padding-right: 0px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: "Play";
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.7);
    margin: 5px;
  }

  select {
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    font-family: "Play";
    font-size: 19px;
  }
  label {
    font-size: 20px;
  }
  input {
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    font-family: "Play";
    font-size: 18px;
    padding: 5px;
  }
  .imageBox {
    display: flex;
  }
  image {
    height: 400px;
    width: 400px;
  }
}
